body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("./img/sunrise.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(249, 204, 0);
}
#time{
    font-size: 80px;
    font-stretch: extra-condensed;
    font-weight: bolder;
    margin: 0px;
}
#location{
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    margin: 2px 0px 1px 30px;
    color: rgb(249, 204, 0);
    text-transform: uppercase;
}
#local-time{
    text-align: center;
}

#location-input{
    width: 30em;
    height: 3em;
    border-radius: 15px;
    border: none;
    margin-top: 30px;    
    padding: 2px;
    background-color: rgba(255, 221, 54, 0.532);
    color: rgb(0, 0, 0);
    text-align: center;
    text-transform: uppercase;
}
#search{
    background-color: rgba(252, 252, 252, 0.532);
    border: none;
    border-radius: 10px;
    height: 3em;
    padding: 5px;
    width: 3em;
    
}
#search:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

#extra{
    padding: 6px;
    font-family: lato;
    color: black;
    text-align: center;
    /* background-color: rgba(252, 252, 252, 0.532); */
    border-radius: 10px;
    margin: 20px 20px 0px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    gap: 10px;
    
    div{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    }
}